body, p, ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}

i, em, b, strong {
  font-style: normal;
  font-weight: normal;
}

a {
  text-decoration: none;
}

.w960 {
  width: 964px;
  margin: 0 auto;
}

.top {
  height: 30px;
  background: #fbfbfb;
  font-size: 12px;
}
.top .left {
  width: 400px;
  height: 30px;
  float: left;
}
.top .left span {
  display: block;
  float: left;
  height: 30px;
  color: #666;
  line-height: 30px;
  margin: 0 18px;
}
.top .left a {
  display: block;
  float: left;
  width: 40px;
  height: 20px;
  color: #999;
  text-align: center;
  line-height: 20px;
  border: 1px #e5e5e5 solid;
  border-radius: 3px;
  margin-top: 4px;
  margin-right: 4px;
}
.top .left a:hover {
  color: #d60d03;
}
.top .right {
  width: 170px;
  height: 30px;
  float: right;
}
.top .right img {
  float: left;
  margin: 8px 5px 0 8px;
}
.top .right a {
  display: block;
  float: left;
  height: 13px;
  font-size: 12px;
  color: #666;
  margin-top: 8px;
}
.top .right a:nth-child(2) {
  border-right: 1px #d5d5d5 solid;
  padding-right: 7px;
}
.top .right a:hover {
  text-decoration: underline;
}

.nav {
  height: 90px;
}
.nav ul {
  width: 330px;
  height: 90px;
}
.nav ul li {
  height: 90px;
  float: left;
  text-align: center;
  margin-top: 8px;
  margin-right: 18px;
}
.nav ul li img {
  margin: 0;
}
.nav ul li a {
  display: block;
  font-size: 12px;
  color: #333;
  margin-top: 5px;
}
.nav ul li a:hover {
  color: #d60d03;
}
.nav img {
  margin: 8px auto;
}
.nav ul.left {
  float: left;
}
.nav ul.right {
  width: 350px;
  float: right;
}

.guild {
  height: 114px;
  border: 1px #bdbdbd solid;
  border-radius: 7px;
  margin: 5px auto;
  position: relative;
}
.guild ul {
  height: 25px;
  position: absolute;
  left: 50%;
  margin-left: -200px;
  top: -10px;
}
.guild ul li {
  height: 25px;
  width: 78px;
  float: left;
  background: #fcfcfc;
  border: 1px #f8d0bf solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  margin-right: 1px;
}
.guild ul li:hover {
  background: #e21c01;
  border-bottom: none;
}
.guild ul li:hover a {
  color: #fbfbfb;
}
.guild ul li a {
  color: #000;
}
.guild div {
  height: 65px;
  width: 964px;
  position: absolute;
  top: 16px;
  background: #e21c01;
  border-radius: 7px;
}
.guild div input {
  width: 400px;
  height: 20px;
  background: #fff1ef;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 12px;
  color: #ea7a7a;
  line-height: 20px;
  margin-top: 20px;
  margin-left: 225px;
}
.guild div img.search {
  margin-left: 10px;
  vertical-align: middle;
}
.guild div p {
  width: 205px;
  float: right;
  font-size: 12px;
  color: #fbfbfb;
  line-height: 16px;
  margin-top: 14px;
  margin-right: 30px;
  overflow: hidden;
}
.guild img.left {
  position: absolute;
  left: 32px;
}
.guild span {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -210px;
  display: block;
  width: 410px;
  height: 32px;
  font-size: 12px;
  line-height: 32px;
  color: #000;
}
.guild span i {
  color: #d30703;
  margin-left: 10px;
}
.guild span em {
  color: #999;
  margin: 0 5px;
}
.guild span b {
  width: 215px;
  overflow: hidden;
}
.guild span strong {
  position: absolute;
  right: 15px;
  top: 6px;
}
.guild span strong a {
  display: block;
  height: 0;
  width: 0;
  border: 4px transparent solid;
}
.guild span strong a.bottom {
  border-bottom-color: #ca0309;
  margin-bottom: 5px;
}
.guild span strong a.top {
  border-top-color: #ca0309;
}

.hot {
  width: 714px;
  height: 422px;
  padding-top: 10px;
}
.hot .left {
  width: 350px;
  height: 420px;
  float: left;
  border: 1px #e5e5e5 solid;
  border-radius: 8px;
  margin-right: 10px;
}
.hot .left h1 {
  font-weight: normal;
  font-family: Arial;
  font-size: 18px;
  color: #d90000;
  line-height: 42px;
  margin-left: 15px;
}
.hot .left h1 img {
  margin-left: 5px;
  vertical-align: middle;
}
.hot .left video {
  width: 318px;
  height: 280px;
  background: #eef0f0;
  margin-left: 16px;
}
.hot .left div {
  width: 318px;
  height: 70px;
  margin: 10px 16px;
}
.hot .left div img {
  width: 65px;
  height: 65px;
  float: left;
}
.hot .left div ul {
  width: 220px;
  float: left;
  margin-left: 12px;
}
.hot .left div ul li {
  width: 210px;
  height: 20px;
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  list-style-type: square;
  list-style-position: inside;
  color: #d20f02;
}
.hot .left div ul li a {
  color: #4d4d4d;
}
.hot .left div ul li:hover a {
  text-decoration: underline;
}
.hot .right {
  width: 350px;
  height: 420px;
  float: left;
  border: 1px #e5e5e5 solid;
  border-radius: 8px;
  border-top: none;
  position: relative;
}
.hot .right a.top:first-child {
  margin-right: 2px;
}
.hot .right a.top {
  position: relative;
  display: block;
  float: left;
  width: 172px;
  height: 34px;
  background: url("img/menu-bg.png") repeat-x;
  font-size: 14px;
  line-height: 34px;
  text-align: center;
  color: #2b2d2d;
  border: 1px #e5e5e5 solid;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.hot .right a.top:hover {
  background: #fff;
  border-bottom: none;
}
.hot .right a.top:hover span {
  color: #cc0d13;
  text-decoration: underline;
}
.hot .right a.top span {
  font-size: 12px;
  font-family: 'Arial';
  margin-right: 10px;
}
.hot .right a.top i {
  width: 0;
  height: 0;
  position: absolute;
  right: 12px;
  top: 14px;
  border: 4px transparent solid;
  border-top-color: #c1c1c1;
}
.hot .right a.top i:hover {
  border-top-color: #ca0309;
}
.hot .right ul {
  clear: both;
  width: 320px;
  height: 340px;
  margin: 0 15px;
  padding-top: 15px;
}
.hot .right ul li {
  width: 320px;
  height: 100px;
  background: #f5f5f5;
  border-top-right-radius: 8px;
  position: relative;
  margin-bottom: 14px;
}
.hot .right ul li img {
  float: left;
}
.hot .right ul li div {
  float: left;
}
.hot .right ul li div h1 {
  height: 130px;
  height: 32px;
  margin-top: 7px;
  margin-left: 20px;
  font-size: 12px;
  font-weight: normal;
  color: #bb0d0d;
  line-height: 32px;
  overflow: hidden;
}
.hot .right ul li div p {
  width: 100px;
  height: 50px;
  margin-left: 20px;
  overflow: hidden;
  font-size: 12px;
  color: #6e6e6e;
  line-height: 15px;
}
.hot .right ul li img.hot1 {
  position: absolute;
  right: 0;
  top: 0;
}
.hot .right ul li img.sheng {
  position: absolute;
  bottom: 0;
  left: 70px;
  z-index: -1;
}
.hot .right ul li:hover img.sheng {
  z-index: 0;
}
.hot .right a.more {
  font-size: 8px;
  line-height: 13px;
  color: #000;
  position: absolute;
  right: 15px;
  bottom: 8px;
}
.hot .right a.more img {
  margin-left: 5px;
  vertical-align: middle;
}

.banner {
  width: 710px;
  height: 90px;
  margin-top: 10px;
}

.hd {
  width: 714px;
  height: 502px;
  padding-top: 10px;
}
.hd .left {
  width: 350px;
  height: 500px;
  float: left;
  border: 1px #e5e5e5 solid;
  border-radius: 8px;
  margin-right: 10px;
  float: left;
}
.hd .left div.top {
  width: 350px;
  height: 70px;
  position: relative;
}
.hd .left div.top img {
  position: absolute;
  right: 0;
  top: 0;
}
.hd .left div.top h2 {
  float: left;
  width: 100px;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 12px;
  color: #ea2b31;
  font-weight: normal;
  font-family: Arial;
}
.hd .left div.top h2 span {
  font-size: 24px;
  color: #333;
}
.hd .left div.top h3 {
  font-size: 36px;
  font-family: Arial;
  font-weight: normal;
  width: 130px;
  float: left;
  color: #ec1c16;
  margin-left: 5px;
  padding-top: 22px;
}
.hd .left img.line {
  margin-left: 20px;
}
.hd .left div.middle {
  width: 350px;
  height: 110px;
  font-size: 12px;
}
.hd .left div.middle img {
  margin-left: 5px;
  margin-top: 14px;
  float: left;
}
.hd .left div.middle div {
  width: 210px;
  height: 84px;
  float: left;
  margin-top: 16px;
  margin-left: 12px;
}
.hd .left div.middle div img {
  margin-top: 0;
}
.hd .left div.middle div b {
  display: block;
  width: 140px;
  margin-top: 5px;
  margin-left: 5px;
  vertical-align: middle;
  overflow: hidden;
  float: left;
  color: #333;
}
.hd .left div.middle div p {
  width: 200px;
  height: 50px;
  margin-top: 32px;
  overflow: hidden;
  color: #999;
  line-height: 16px;
}
.hd .left div.bottom {
  width: 301px;
  height: 34px;
  margin-left: 24px;
  background: url("img/calendar.png") repeat-x;
}
.hd .left div.bottom b {
  display: block;
  float: left;
  margin-left: 3px;
  width: 40px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
}
.hd .left ul {
  width: 301px;
  margin-left: 24px;
  height: 260px;
}
.hd .left ul li {
  width: 40px;
  height: 40px;
  float: left;
  margin: 0 0 3px 3px;
  background: #ededed;
  font-size: 10px;
  color: #666;
  line-height: 40px;
  text-align: center;
}
.hd .left ul li:hover {
  background: url("img/15.png");
  background-size: 40px 40px;
}
.hd .left ul li.cf8 {
  color: #ccc;
  background: #f8f8f8;
}
.hd .left ul li.cf8:hover {
  background: url("img/16.png");
  background-size: 40px 40px;
}
.hd .right {
  width: 350px;
  height: 500px;
  float: left;
  border: 1px #e5e5e5 solid;
  border-radius: 8px;
  float: left;
}
.hd .right div.top {
  width: 350px;
  height: 70px;
}
.hd .right div.top h2 {
  float: left;
  width: 100px;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 12px;
  color: #ea2b31;
  font-weight: normal;
  font-family: Arial;
}
.hd .right div.top h2 span {
  font-size: 24px;
  color: #333;
}
.hd .right div.top img {
  float: left;
  margin-top: 12px;
}
.hd .right div.middle {
  width: 320px;
  height: 180px;
  background: #f8f8f8;
  border-radius: 5px;
}
.hd .right div.middle img {
  margin-top: 12px;
  margin-left: 12px;
  float: left;
  border: 3px transparent solid;
}
.hd .right div.middle img:hover {
  border-color: #d6191d;
}
.hd .right div.middle span {
  display: block;
  clear: both;
  font-size: 12px;
  color: #000;
  margin-top: 10px;
  margin-left: 20px;
}
.hd .right ul {
  width: 230px;
  height: 224px;
  float: left;
  margin-left: 24px;
  margin-top: 16px;
}
.hd .right ul li {
  width: 230px;
  height: 28px;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hd .right ul li img {
  width: 13px;
  height: 13px;
  margin-right: 7px;
}
.hd .right ul li a {
  padding-left: 6px;
  font-size: 12px;
  color: #454545;
  border-left: 1px #dfdfdf solid;
}
.hd .right ul li a:hover {
  color: red;
  text-decoration: underline;
}
.hd .right div.date {
  width: 44px;
  height: 224px;
  margin-top: 18px;
  float: right;
  margin-right: 26px;
}
.hd .right div.date p {
  height: 28px;
  width: 44px;
  line-height: 28px;
  font-size: 9px;
  color: #999;
}

.map {
  width: 714px;
  height: 352px;
  margin-right: 10px;
  margin-top: 10px;
}
.map .left {
  width: 350px;
  height: 350px;
  float: left;
  border: 1px #e5e5e5 solid;
  border-radius: 8px;
  margin-right: 10px;
  border-top: none;
}
.map .left a:first-child {
  margin-right: 2px;
}
.map .left a {
  position: relative;
  display: block;
  float: left;
  width: 172px;
  height: 34px;
  background: url("img/menu-bg.png") repeat-x;
  font-size: 14px;
  line-height: 34px;
  text-align: center;
  color: #2b2d2d;
  border: 1px #e5e5e5 solid;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.map .left a:hover {
  background: #fff;
  border-bottom: none;
}
.map .left a:hover span {
  color: #cc0d13;
  text-decoration: underline;
}
.map .left a span {
  font-size: 12px;
  font-family: 'Arial';
  margin-right: 10px;
}
.map .left a i {
  width: 0;
  height: 0;
  position: absolute;
  right: 12px;
  top: 14px;
  border: 4px transparent solid;
  border-top-color: #c1c1c1;
}
.map .left a i:hover {
  border-top-color: #ca0309;
}
.map .left img {
  margin-top: 28px;
  margin-left: 24px;
}
.map .right {
  width: 350px;
  height: 350px;
  float: left;
  border: 1px #e5e5e5 solid;
  border-radius: 8px;
}
.map .right div.top {
  width: 350px;
  height: 40px;
}
.map .right div.top p {
  width: 60px;
  height: 40px;
  float: left;
  font-size: 12px;
  font-family: Arial;
  color: #cc0d13;
  line-height: 40px;
  margin-left: 15px;
}
.map .right div.top p span {
  color: #010000;
  margin-left: 5px;
}
.map .right div.top a {
  display: block;
  float: right;
  width: 60px;
  height: 40px;
  font-size: 6px;
  color: #000;
  line-height: 40px;
}
.map .right div.top a img {
  vertical-align: middle;
  margin-left: 4px;
}
.map .right div.one {
  width: 318px;
  height: 70px;
  border-radius: 5px;
  background: #d90000;
  margin: 0 16px;
  position: relative;
}
.map .right div.one img {
  margin: 10px;
  float: left;
}
.map .right div.one h3 {
  float: left;
  width: 170px;
  height: 26px;
  line-height: 26px;
  overflow: hidden;
  font-size: 14px;
  color: white;
  margin-top: 10px;
}
.map .right div.one p {
  float: left;
  width: 100px;
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  font-size: 12px;
  color: white;
}
.map .right div.one span {
  display: block;
  height: 20px;
  width: 50px;
  font-size: 20px;
  color: white;
  position: absolute;
  right: 5px;
  bottom: 0px;
}
.map .right ul {
  width: 318px;
  margin: 0 16px;
}
.map .right ul li {
  width: 318px;
  height: 30px;
  border-radius: 5px;
  margin-top: 3px;
  background: #f1f1f1;
  line-height: 30px;
}
.map .right ul li:hover a {
  text-decoration: underline;
  color: #ca0309;
}
.map .right ul li img {
  margin: 10px 20px 0 10px;
}
.map .right ul li a {
  font-size: 12px;
  color: #333;
}
.map .right ul li a.shi {
  float: right;
  margin-right: 22px;
}
.map .right ul li.f8 {
  background: #f8f8f8;
}

.lif {
  width: 714px;
  height: 592px;
}
.lif .box1 {
  width: 350px;
  height: 350px;
  float: left;
  border: 1px #e5e5e5 solid;
  border-radius: 8px;
  height: 300px;
  margin-top: 10px;
  margin-right: 10px;
}
.lif .box1 div.top {
  width: 350px;
  height: 40px;
}
.lif .box1 div.top p {
  width: 220px;
  height: 40px;
  float: left;
  font-size: 12px;
  font-family: Arial;
  color: #cc0d13;
  line-height: 40px;
  margin-left: 15px;
}
.lif .box1 div.top p span {
  color: #010000;
  margin-left: 5px;
}
.lif .box1 div.top a.more {
  display: block;
  float: right;
  width: 60px;
  height: 40px;
  font-size: 6px;
  color: #000;
  line-height: 40px;
}
.lif .box1 div.top a.more img {
  vertical-align: middle;
  margin-left: 4px;
}
.lif .box1 div.aa {
  clear: both;
  margin-left: 15px;
  width: 306px;
  height: 24px;
  padding: 0 8px;
}
.lif .box1 div.aa a {
  display: block;
  float: left;
  width: 100px;
  height: 24px;
  background: url("img/l24.gif") repeat-x;
  line-height: 24px;
  text-align: center;
  font-size: 12px;
  color: #666;
  border: 1px #dadada solid;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: relative;
}
.lif .box1 div.aa a:hover {
  background: none;
  color: #454545;
  font-weight: bold;
  border-bottom: none;
}
.lif .box1 div.aa a i {
  width: 0;
  height: 0;
  position: absolute;
  right: 12px;
  top: 10px;
  border: 4px transparent solid;
  border-top-color: #c1c1c1;
}
.lif .box1 div.aa a i:hover {
  border-top-color: #ca0309;
}
.lif .box1 h6 {
  width: 320px;
  height: 30px;
  line-height: 30px;
  margin: 0 15px;
  border-bottom: 1px #cbcbca dashed;
}
.lif .box1 h6 span {
  display: block;
  float: left;
  width: 260px;
  height: 30px;
  text-align: center;
  color: #999;
  letter-spacing: 18px;
}
.lif .box1 h6 i {
  display: block;
  float: right;
  width: 40px;
  height: 30px;
  text-align: center;
  color: #999;
}
.lif .box1 ul {
  width: 320px;
  height: 150px;
  margin: 5px 15px;
}
.lif .box1 ul li {
  width: 320px;
  height: 28px;
  color: #d4051f;
  font-size: 12px;
  line-height: 28px;
  list-style-type: square;
  list-style-position: inside;
  border-bottom: 1px #cbcbca dashed;
}
.lif .box1 ul li a {
  color: #454545;
}
.lif .box1 ul li a em {
  color: #c75d61;
  margin-left: 7px;
  margin-right: 8px;
}
.lif .box1 ul li img {
  float: right;
  margin-right: 18px;
  margin-top: 9px;
}
.lif .box1 ul li:hover a {
  text-decoration: underline;
}
.lif .box1 div.bottom {
  width: 300px;
  height: 40px;
  margin: 0 15px;
  padding-left: 20px;
  font-size: 12px;
  color: #595959;
  line-height: 40px;
}
.lif .box1 div.bottom input {
  width: 180px;
  height: 20px;
  font-size: 12px;
  border: 1px #9c9c9c solid;
  color: #9c9c9c;
  margin-left: 10px;
}
.lif .box1 div.bottom img {
  margin-left: 10px;
  vertical-align: middle;
}
.lif .box2 {
  width: 350px;
  height: 350px;
  float: left;
  border: 1px #e5e5e5 solid;
  border-radius: 8px;
  height: 300px;
  margin-top: 10px;
}
.lif .box2 div.top {
  width: 350px;
  height: 40px;
}
.lif .box2 div.top p {
  width: 220px;
  height: 40px;
  float: left;
  font-size: 12px;
  font-family: Arial;
  color: #cc0d13;
  line-height: 40px;
  margin-left: 15px;
}
.lif .box2 div.top p span {
  color: #010000;
  margin-left: 5px;
}
.lif .box2 div.top a.more {
  display: block;
  float: right;
  width: 60px;
  height: 40px;
  font-size: 6px;
  color: #000;
  line-height: 40px;
}
.lif .box2 div.top a.more img {
  vertical-align: middle;
  margin-left: 4px;
}
.lif .box2 div.list {
  width: 320px;
  height: 240px;
  margin: 0 15px;
}
.lif .box2 div.list div {
  width: 78px;
  height: 78px;
  float: left;
  margin: 0 2px 2px 0;
  position: relative;
}
.lif .box2 div.list div div.cover {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 78px;
  height: 78px;
  background: #c80001;
}
.lif .box2 div.list div div.cover h1 {
  height: 38px;
  line-height: 38px;
  width: 50px;
  color: white;
  font-size: 18px;
  font-family: Arial;
  margin-left: 10px;
}
.lif .box2 div.list div div.cover span {
  display: block;
  width: 50px;
  color: white;
  font-size: 12px;
  line-height: 16px;
  margin-left: 10px;
}
.lif .box2 div.list div:hover div.cover {
  display: block;
}
.lif .box3 {
  width: 350px;
  height: 350px;
  float: left;
  border: 1px #e5e5e5 solid;
  border-radius: 8px;
  height: 250px;
  margin-top: 10px;
  margin-right: 10px;
}
.lif .box3 div.top {
  width: 350px;
  height: 40px;
}
.lif .box3 div.top p {
  width: 220px;
  height: 40px;
  float: left;
  font-size: 12px;
  font-family: Arial;
  color: #cc0d13;
  line-height: 40px;
  margin-left: 15px;
}
.lif .box3 div.top p span {
  color: #010000;
  margin-left: 5px;
}
.lif .box3 div.top a.more {
  display: block;
  float: right;
  width: 60px;
  height: 40px;
  font-size: 6px;
  color: #000;
  line-height: 40px;
}
.lif .box3 div.top a.more img {
  vertical-align: middle;
  margin-left: 4px;
}
.lif .box3 p.middle {
  width: 300px;
  margin: 10px 25px;
  font-size: 12px;
  color: #333;
  line-height: 20px;
  text-indent: 2em;
}
.lif .box3 img {
  margin-left: 22px;
  vertical-align: middle;
}
.lif .box3 span {
  font-size: 12px;
  color: #b80000;
  margin-left: 5px;
}
.lif .box3 b {
  font-size: 12px;
  color: #4e4e4e;
  margin-left: 5px;
}
.lif .box3 div.bottom {
  width: 316px;
  height: 100px;
  margin: 10px 17px;
  border-top: 1px #ededee solid;
}
.lif .box3 div.bottom ul {
  width: 100px;
  height: 70px;
  float: left;
  margin-left: 10px;
  margin-top: 20px;
}
.lif .box3 div.bottom ul li {
  list-style-type: square;
  list-style-position: inside;
  color: #b4040a;
  height: 16px;
  line-height: 16px;
  font-size: 12px;
}
.lif .box3 div.bottom ul li a {
  color: #292929;
}
.lif .box3 div.bottom ul li:first-child {
  list-style: none;
  color: #292929;
  font-weight: bold;
}
.lif .box3 div.bottom ul.you {
  margin-left: 46px;
}
.lif .box4 {
  width: 350px;
  height: 350px;
  float: left;
  border: 1px #e5e5e5 solid;
  border-radius: 8px;
  height: 250px;
  margin-top: 10px;
}
.lif .box4 div.top {
  width: 350px;
  height: 40px;
}
.lif .box4 div.top p {
  width: 220px;
  height: 40px;
  float: left;
  font-size: 12px;
  font-family: Arial;
  color: #cc0d13;
  line-height: 40px;
  margin-left: 15px;
}
.lif .box4 div.top p span {
  color: #010000;
  margin-left: 5px;
}
.lif .box4 div.top a.more {
  display: block;
  float: right;
  width: 60px;
  height: 40px;
  font-size: 6px;
  color: #000;
  line-height: 40px;
}
.lif .box4 div.top a.more img {
  vertical-align: middle;
  margin-left: 4px;
}
.lif .box4 ul {
  width: 316px;
  height: 180px;
  margin: 20px 17px;
}
.lif .box4 ul li {
  width: 316px;
  height: 32px;
  overflow: hidden;
  margin-bottom: 12px;
}
.lif .box4 ul li img {
  float: left;
  width: 88px;
  height: 32px;
  margin-right: 10px;
}
.lif .box4 ul li a {
  display: block;
  float: left;
  width: 200px;
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  color: #292929;
}
.lif .box4 ul li:hover a {
  text-decoration: underline;
}

.box-left {
  float: left;
}

.box-right {
  float: right;
}

.denglu {
  width: 238px;
  margin-top: 12px;
  border: 1px #e5e5e5 solid;
  border-radius: 8px;
  height: 140px;
}
.denglu p {
  width: 226px;
  height: 34px;
  padding-left: 12px;
  font-size: 12px;
  line-height: 34px;
  color: #cc0d13;
  background: url("img/calendar.png") repeat-x;
  border-bottom: 1px #e5e5e5 solid;
}
.denglu p span {
  color: #010000;
  margin-left: 5px;
}
.denglu div.name {
  font-size: 12px;
  color: #595959;
  margin-top: 15px;
  margin-left: 20px;
}
.denglu div.name input {
  width: 87px;
  height: 17px;
  background: #f7f7f7;
  border: 1px #e5e5e5 solid;
}
.denglu div.name input.chbox {
  width: 12px;
  height: 12px;
  margin-left: 7px;
}
.denglu div.possword {
  font-size: 12px;
  margin-top: 7px;
  margin-left: 20px;
}
.denglu div.possword input {
  width: 87px;
  height: 17px;
  background: #f7f7f7;
  border: 1px #e5e5e5 solid;
}
.denglu div.possword input.sub {
  width: 56px;
  height: 22px;
  border-radius: 11px;
  margin-left: 7px;
  background: #da0000;
  color: white;
  line-height: 22px;
  text-align: center;
}
.denglu ul {
  width: 214px;
  border-top: 1px #f2f2f2 solid;
  margin: 10px 12px 0 12px;
}
.denglu ul li {
  width: 107px;
  float: left;
  font-size: 12px;
  line-height: 32px;
  list-style-position: inside;
  list-style-type: square;
  color: #d20f02;
  text-align: center;
}
.denglu ul li a {
  color: #666;
}
.denglu ul li:hover a {
  color: red;
}

.lunpan {
  width: 238px;
  margin-top: 12px;
  border: 1px #e5e5e5 solid;
  border-radius: 8px;
  height: 90px;
}

.banner2 {
  width: 238px;
  margin-top: 12px;
  border: 1px #e5e5e5 solid;
  border-radius: 8px;
  height: 180px;
}

.coupons {
  width: 238px;
  margin-top: 12px;
  border: 1px #e5e5e5 solid;
  border-radius: 8px;
  height: 240px;
}
.coupons div.top {
  width: 238px;
  height: 40px;
}
.coupons div.top p {
  width: 130px;
  height: 40px;
  float: left;
  font-size: 12px;
  font-family: Arial;
  color: #cc0d13;
  line-height: 40px;
  margin-left: 15px;
}
.coupons div.top p span {
  color: #010000;
  margin-left: 5px;
}
.coupons div.top a.more {
  display: block;
  float: right;
  width: 60px;
  height: 40px;
  font-size: 6px;
  color: #000;
  line-height: 40px;
}
.coupons div.top a.more img {
  vertical-align: middle;
  margin-left: 4px;
}
.coupons div.aa {
  clear: both;
  margin-left: 11px;
  width: 216px;
  height: 24px;
  padding: 0 8px;
}
.coupons div.aa a {
  display: block;
  float: left;
  width: 64px;
  height: 24px;
  background: url("img/l24.gif") repeat-x;
  line-height: 24px;
  text-align: center;
  font-size: 12px;
  color: #666;
  border: 1px #dadada solid;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: relative;
}
.coupons div.aa a:hover {
  background: none;
  color: #454545;
  font-weight: bold;
  border-bottom: none;
}
.coupons div.aa a i {
  width: 0;
  height: 0;
  position: absolute;
  right: 10px;
  top: 10px;
  border: 4px transparent solid;
  border-top-color: #c1c1c1;
}
.coupons div.aa a i:hover {
  border-top-color: #ca0309;
}
.coupons h6 {
  width: 216px;
  height: 30px;
  line-height: 30px;
  margin: 0 11px;
}
.coupons h6 span {
  display: block;
  float: left;
  width: 120px;
  height: 30px;
  text-align: center;
  color: #999;
}
.coupons h6 i {
  display: block;
  float: right;
  width: 80px;
  height: 30px;
  word-spacing: 18px;
  text-align: center;
  color: #999;
}
.coupons ul {
  width: 216px;
  height: 140px;
  margin: 0 11px;
}
.coupons ul li {
  width: 216px;
  height: 26px;
  color: #d4051f;
  font-size: 12px;
  line-height: 26px;
  list-style-type: square;
  list-style-position: inside;
  border-top: 1px #cbcbca dashed;
}
.coupons ul li a {
  color: #454545;
}
.coupons ul li a span {
  float: right;
  margin-right: 13px;
  color: #d80000;
}
.coupons ul li a span em {
  margin-left: 17px;
  color: #999;
}
.coupons ul li:hover a {
  text-decoration: underline;
}

.shop {
  width: 238px;
  margin-top: 12px;
  border: 1px #e5e5e5 solid;
  border-radius: 8px;
  height: 418px;
}
.shop div.top {
  width: 238px;
  height: 40px;
}
.shop div.top p {
  width: 130px;
  height: 40px;
  float: left;
  font-size: 12px;
  font-family: Arial;
  color: #cc0d13;
  line-height: 40px;
  margin-left: 15px;
}
.shop div.top p span {
  color: #010000;
  margin-left: 5px;
}
.shop div.top a.more {
  display: block;
  float: right;
  width: 60px;
  height: 40px;
  font-size: 6px;
  color: #000;
  line-height: 40px;
}
.shop div.top a.more img {
  vertical-align: middle;
  margin-left: 4px;
}
.shop ul {
  width: 210px;
  height: 375px;
  margin: 10px 14px;
}
.shop ul li {
  position: relative;
  width: 210px;
  height: 85px;
  margin-bottom: 5px;
  border-bottom: 1px #cbcbca dashed;
}
.shop ul li img {
  width: 90px;
  height: 68px;
  float: left;
  padding: 2px;
  border: 2px #dadada double;
}
.shop ul li img.sheng {
  display: none;
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 5px;
  left: 58px;
}
.shop ul li div {
  float: left;
}
.shop ul li div h3 {
  width: 100px;
  height: 28px;
  font-size: 12px;
  color: #d80000;
  line-height: 28px;
  margin-left: 12px;
  overflow: hidden;
}
.shop ul li div p {
  width: 100px;
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  color: #666;
  margin-left: 12px;
}
.shop ul li div p span {
  color: #999;
}
.shop ul li:hover img.sheng {
  display: block;
}

.shop360 {
  width: 238px;
  margin-top: 12px;
  border: 1px #e5e5e5 solid;
  border-radius: 8px;
  height: 180px;
}
.shop360 div.top {
  width: 238px;
  height: 40px;
}
.shop360 div.top p {
  width: 130px;
  height: 40px;
  float: left;
  font-size: 12px;
  font-family: Arial;
  color: #cc0d13;
  line-height: 40px;
  margin-left: 15px;
}
.shop360 div.top p span {
  color: #010000;
  margin-left: 5px;
}
.shop360 div.top a.more {
  display: block;
  float: right;
  width: 60px;
  height: 40px;
  font-size: 6px;
  color: #000;
  line-height: 40px;
}
.shop360 div.top a.more img {
  vertical-align: middle;
  margin-left: 4px;
}
.shop360 img.bg {
  width: 214px;
  height: 110px;
  margin: 0 12px;
  margin-top: 5px;
}
.shop360 h6 {
  font-size: 12px;
  color: #333;
  width: 210px;
  height: 16px;
  line-height: 16px;
  overflow: hidden;
  margin-left: 16px;
}

.zhekou {
  width: 238px;
  margin-top: 12px;
  border: 1px #e5e5e5 solid;
  border-radius: 8px;
  height: 350px;
}
.zhekou div.top {
  width: 238px;
  height: 40px;
}
.zhekou div.top p {
  width: 130px;
  height: 40px;
  float: left;
  font-size: 12px;
  font-family: Arial;
  color: #cc0d13;
  line-height: 40px;
  margin-left: 15px;
}
.zhekou div.top p span {
  color: #010000;
  margin-left: 5px;
}
.zhekou div.top a.more {
  display: block;
  float: right;
  width: 60px;
  height: 40px;
  font-size: 6px;
  color: #000;
  line-height: 40px;
}
.zhekou div.top a.more img {
  vertical-align: middle;
  margin-left: 4px;
}
.zhekou div.middle {
  position: relative;
  width: 210px;
  height: 85px;
  margin-left: 14px;
  margin-bottom: 5px;
}
.zhekou div.middle img {
  width: 90px;
  height: 68px;
  float: left;
  padding: 2px;
  border: 2px #dadada double;
}
.zhekou div.middle img.sheng {
  display: none;
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 5px;
  left: 58px;
}
.zhekou div.middle div {
  float: left;
}
.zhekou div.middle div h3 {
  width: 100px;
  height: 28px;
  font-size: 12px;
  color: #d80000;
  line-height: 28px;
  margin-left: 12px;
  overflow: hidden;
}
.zhekou div.middle div p {
  width: 100px;
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  color: #666;
  margin-left: 12px;
}
.zhekou div.middle div p span {
  color: #999;
}
.zhekou div.middle:hover img.sheng {
  display: block;
}
.zhekou ul {
  width: 210px;
  height: 220px;
  margin-left: 14px;
  margin-top: 5px;
}
.zhekou ul li {
  width: 210px;
  height: 26px;
  font-size: 12px;
  line-height: 26px;
  color: #d4051f;
  list-style-type: square;
  list-style-position: inside;
  border-top: 1px #cbcbca dashed;
}
.zhekou ul li a {
  color: #333;
}
.zhekou ul li a span {
  color: #c75d61;
  margin-right: 6px;
}
.zhekou ul li:hover a {
  text-decoration: underline;
}

.jiameng {
  width: 238px;
  margin-top: 12px;
  border: 1px #e5e5e5 solid;
  border-radius: 8px;
  height: 370px;
}
.jiameng div.top {
  width: 238px;
  height: 40px;
}
.jiameng div.top p {
  width: 130px;
  height: 40px;
  float: left;
  font-size: 12px;
  font-family: Arial;
  color: #cc0d13;
  line-height: 40px;
  margin-left: 15px;
}
.jiameng div.top p span {
  color: #010000;
  margin-left: 5px;
}
.jiameng div.top a.more {
  display: block;
  float: right;
  width: 60px;
  height: 40px;
  font-size: 6px;
  color: #000;
  line-height: 40px;
}
.jiameng div.top a.more img {
  vertical-align: middle;
  margin-left: 4px;
}
.jiameng div.middle {
  width: 98px;
  height: 135px;
  float: left;
  margin-left: 14px;
  margin-bottom: 20px;
}
.jiameng div.middle img {
  width: 94px;
  height: 68px;
  padding: 2px;
  border: 1px #dadada double;
}
.jiameng div.middle h3 {
  width: 98px;
  height: 28px;
  font-size: 12px;
  color: #d80000;
  line-height: 28px;
  overflow: hidden;
}
.jiameng div.middle p {
  width: 98px;
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  color: #666;
}
.jiameng div.middle p span {
  color: #999;
}
.jiameng ul {
  clear: both;
  width: 210px;
  height: 166px;
  margin-left: 14px;
}
.jiameng ul li {
  width: 210px;
  height: 26px;
  font-size: 12px;
  line-height: 26px;
  color: #d4051f;
  list-style-type: square;
  list-style-position: inside;
  border-top: 1px #cbcbca dashed;
}
.jiameng ul li a {
  color: #333;
}
.jiameng ul li a span {
  color: #c75d61;
  margin-right: 6px;
}
.jiameng ul li:hover a {
  text-decoration: underline;
}

.foot {
  clear: both;
  height: 80px;
  background: #f9f9f9;
  border: 1px #e5e5e5 solid;
  border-radius: 8px;
}
.foot ul {
  width: 560px;
  height: 16px;
  margin: 0 auto;
  margin-top: 20px;
}
.foot ul li {
  width: 60px;
  float: left;
  margin-right: 10px;
}
.foot ul li a {
  display: block;
  height: 16px;
  line-height: 16px;
  color: #454545;
  font-size: 12px;
  border-right: 1px #919191 solid;
  padding-right: 10px;
}
.foot ul li:last-child a {
  border-right: none;
}
.foot h5 {
  width: 460px;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 10px;
  font-weight: normal;
  color: #767676;
}
.foot h5 span {
  margin-left: 18px;
}

/*# sourceMappingURL=100du.css.map */
